{{!-- Head --}}
<title>Change Password</title>
{{!-- Body --}}

<!-- Content wrapper -->
<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Change Password</h4>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item"><a class="nav-link" href="/employees/account-detail">
                            <i class="bx bx-user me-1"></i> Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/employees/update-account">
                            <i class="bx bx-refresh me-1"></i> Update Account
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="javascript:void(0);">
                            <i class="bx bx-key me-1"></i> Change Password
                        </a>
                    </li>
                </ul>
                <!-- Change Password -->
                <div class="card mb-4">
                    <h5 class="card-header">Change Password</h5>
                    <div class="card-body">
                        {{!-- Form Change Password --}}
                        <form id="formAccountSettings" method="POST" action="/employees/change-password"
                            class="fv-plugins-bootstrap5 fv-plugins-framework">
                            {{#eq employee.status 'New Employee'}}
                            {{else}}
                            <div class="row">
                                <div class="mb-3 col-md-6 form-password-toggle fv-plugins-icon-container">
                                    <label class="form-label" for="currentPassword">Current
                                        Password</label>
                                    <div class="input-group input-group-merge has-validation">
                                        <input class="form-control" type="password" name="current_password"
                                            id="currentPassword" placeholder="············">
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                    <div
                                        class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                    </div>
                                </div>
                            </div>
                            {{/eq}}
                            <div class="row">
                                <div class="mb-3 col-md-6 form-password-toggle fv-plugins-icon-container">
                                    <label class="form-label" for="newPassword">New Password</label>
                                    <div class="input-group input-group-merge has-validation">
                                        <input class="form-control" type="password" id="newPassword" name="new_password"
                                            placeholder="············">
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                    <div
                                        class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback">
                                    </div>
                                </div>

                                <div class="mb-3 col-md-6 form-password-toggle fv-plugins-icon-container">
                                    <label class="form-label" for="confirmPassword">Confirm New Password</label>
                                    <div class="input-group input-group-merge has-validation">
                                        <input class="form-control" type="password" name="confirm_password"
                                            id="confirmPassword" placeholder="············">
                                        <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                    </div>
                                </div>
                                <div class="error-message" style="color: tomato;">
                                    {{#if messages.error}}
                                    {{messages.error}}
                                    {{/if}}
                                </div>
                                <div class="col-12 mb-4">
                                    <p class="fw-medium mt-2">Password Requirements:</p>
                                    <ul class="ps-3 mb-0">
                                        <li class="mb-1">
                                            Minimum 8 characters long - the more, the better
                                        </li>
                                        <li class="mb-1">At least one lowercase character</li>
                                        <li>At least one number, symbol, or whitespace character</li>
                                    </ul>
                                </div>
                                <div class="col-12 mt-1">
                                    <button type="submit" class="btn btn-primary me-2">Save
                                        changes</button>
                                    <button type="reset" class="btn btn-label-secondary">Cancel</button>
                                </div>
                            </div>
                            <input type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / Content -->
    <div class="content-backdrop fade"></div>
</div>

<script>
    // Get the form element
    const form = document.getElementById('formAccountSettings');

    // Add event listener to form submission
    form.addEventListener('submit', handleFormSubmit);

    // Function to handle form submission
    function handleFormSubmit(event) {
        // Prevent the form from submitting
        event.preventDefault();
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        // Validate the form fields
        if (document.getElementById('currentPassword')){
            const currentPassword = document.getElementById('currentPassword').value;
            if (currentPassword.trim() === '' || newPassword.trim() === '' || confirmPassword.trim() === '') {
                // Display an error message for empty fields
                displayErrorMessage('Please fill in all the fields');
            } else if (newPassword !== confirmPassword) {
                // Display an error message for password mismatch
                displayErrorMessage('Passwords do not match');
            } else {
                // Clear any existing error messages
                clearErrorMessage();
                // If the form is valid, you can submit the form or perform additional actions
                form.submit();
            }
        }
        if (newPassword.trim() === '' || confirmPassword.trim() === '') {
                // Display an error message for empty fields
                displayErrorMessage('Please fill in all the fields');
            } else if (newPassword !== confirmPassword) {
                // Display an error message for password mismatch
                displayErrorMessage('Passwords do not match');
            } else {
                // Clear any existing error messages
                clearErrorMessage();
                // If the form is valid, you can submit the form or perform additional actions
                form.submit();
            }
    }

    // Function to display an error message
    function displayErrorMessage(message) {
        const errorContainer = document.querySelector('.error-message');
        errorContainer.textContent = message;
    }

    // Function to clear the error message
    function clearErrorMessage() {
        const errorContainer = document.querySelector('.error-message');
        errorContainer.textContent = '';
    }
</script>