{{!-- Head --}}
<title>Expire Activate Link</title>
<link rel="stylesheet" href="/vendor/css/core.css" class="template-customizer-core-css" />
<link rel="stylesheet" href="/vendor/css/pages/page-auth.css">
<link rel="stylesheet" href="/vendor/css/theme-default.css" class="template-customizer-theme-css" />
{{!-- Body --}}
<div class="authentication-wrapper authentication-basic px-4">
    <div class="authentication-inner">
        <div class="card">
            <div class="card-body">
                <!-- Logo -->
                <div class="app-brand justify-content-center">
                    <a href="#" class="app-brand-link gap-2">
                        <span class="app-brand-logo demo">
                             <img src="/image/logo.png" alt="Logo" style="width: 150px; height: 55px;">
                        </span>
                    </a>
                </div>
                <h3 class="mb-2">Link Activate Expired ✉️</h3>
                <p class="text-start">
                    Your activation link sent to your email address is expired.
                    Please contact to admin for request new activation link!
                </p>
                <a href="/employees/login" class="btn btn-primary w-100 my-3">
                    Back to Login Page
                </a>
            </div>
        </div>
    </div>
</div>

