{{!-- Head --}}
<title>Login</title>
<link rel="stylesheet" href="/css/login.css">

{{!-- Body --}}
<section class="container">
    <div class="image-section">
        <div class="image-wrapper">
            <img src="/image/left-image.png" alt="">
        </div>

        <div class="content-container">
            <h1 class="section-heading"> <span>Login | Phone Paradise </span></h1>
            <p class="section-paragraph">If you login the first time please use the link admin sent for you to login.
                📱🔋.</p>
        </div>
    </div>

    <div class="form-section">
        <div class="form-wrapper">
            <div class="logo-container">
                <a href="#" class="logo-container">
                    <img src="/image/logo.png" alt="Logo" style="width: 100px; height: 60px;">
                </a>
            </div>

            <h2>Welcome Back! 👋🏻</h2>
            <p>Enter your credentials to access your account.</p>
            <form method="POST" onsubmit="return validateForm()">
                <div class="input-container">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="username">
                        <div id="usernameError" class="error-message"></div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password">
                        <div id="passwordError" class="error-message"></div>
                    </div>
                </div>

                <div class="remember-forgot">
                    <div class="remember-me">
                        <input type="checkbox" value="remember-me" id="remember-me">
                        <label for="remember-me">Remember me</label>
                    </div>
                    <a href="#">Forgot password?</a>
                </div>

                <button class="login-btn">Log In</button>
            </form>

            <div class="error-message" style="text-align: center; margin: 5px;" id="message-login">
                {{#if messages.error}}
                    {{messages.error}}
                {{/if}}
            </div>
        </div>
    </div>
</section>

<script>
    function validateForm() {
        // Get form field values
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;

        // Clear previous error messages
        document.getElementById("usernameError").textContent = "";
        document.getElementById("passwordError").textContent = "";

        // Perform validation
        var isValid = true;

        if (username.trim() === "") {
            document.getElementById("usernameError").textContent = "Please enter a username";
            isValid = false;
        }

        if (password.trim() === "") {
            document.getElementById("passwordError").textContent = "Please enter a password";
            isValid = false;
        }
        return isValid;
    }

    // Hide error message on username input change
    document.getElementById("username").addEventListener("change", function () {
        document.getElementById("usernameError").textContent = "";
    });

    // Hide error message on password input change
    document.getElementById("password").addEventListener("change", function () {
        document.getElementById("passwordError").textContent = "";
    });

    // Wait for the document to be ready
    document.addEventListener("DOMContentLoaded", function(event) {
        // Select the flash message element
        var flashMessage = document.getElementById("message-login");

        // Check if the flash message exists
        if (flashMessage) {
            // Hide the flash message after 2 seconds
            setTimeout(function() {
                flashMessage.style.display = "none";
            }, 2000); // 2 seconds in milliseconds
        }
    });
</script>